.forbidden-container {
    text-align: center;
    margin-top: 100px;
}

.forbidden-container h1 {
    font-size: 24px;
    color: #333;
}

.forbidden-container h2 {
    font-size: 150px;
    color: #52c41a;
    /* Green color */
}

.forbidden-container p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}