.error-container {
    text-align: center;
    margin-top: 100px;
}

.error-container h1 {
    font-size: 24px;
    color: #333;
}

.error-container h2 {
    font-size: 150px;
    color: #f5222d;
    /* Red color to indicate error */
}

.error-container p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.error-container button {
    cursor: pointer;
}

.error-container button:hover {
    background-color: #40a9ff;
    /* Lighter blue on hover */
}